{% extends 'base.html' %}
{% block body%}
  {% if user.is_authenticated %}
    {% if serverfile %}
    <ul>
      ahoj
      <li> {{ serverfile.imagefile}} </li>
      <li> {{ serverfile.annotationfile}} </li>
      <li> {{ serferfile.thumbnail.name}} </li>
      <li> {{ serferfile.thumbnail.path }} </li>
      <li> {{ serferfile.thumbnail.url }} </li>
      <div class="container">
        <img id="multicellimg" class="multicella" src="{{serverfile.thumbnail.url}}">
      </div>
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  {% endif %}
{% endblock %}
