{% extends 'base.html' %}
{% block body %}
{% if user.is_authenticated %}
<!--    <div class="container-fluid">-->
    <div class="navbar navbar-expand-sm">
        <h2>{{ serverfile }}</h2>
        {% if spreadsheet_url %}
        <div class="navbar-nav ml-auto">
            <a class="btn btn-primary" href="{{ spreadsheet_url }}"
               data-toggle="tooltip" data-placement="top"
               title="{{ spreadsheet_url_tooltip }}"
            >
                <i class="fas fa-download"></i>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid">
        {% if df_html %}
        <p>
            {% autoescape off %}
            {{ df_html }}
            {% endautoescape %}
        </p>
        {% endif %}
        {% if key_value %}
            {% for key, value in key_value.items %}
                <h3>{{ key }}</h3>
                <p>
                    {% autoescape off %}
                    {{ value }}
                    {% endautoescape %}
                </p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container-fluid">
        {% for im in image_list %}
        <figure class="figure">
         <img src="{{ im.bitmap_image.url }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." width=400>
         <figcaption class="figure-caption">{{ im.filename }}</figcaption>
        </figure>
        {% endfor %}
    </div>

{% endif %}
{% endblock %}

