{% extends 'base.html' %}
{% block body %}
{% if user.is_authenticated %}
<!--    <div class="container-fluid">-->
    <div class="navbar navbar-expand-sm">
        <h2>{{ serverfile }}</h2>
        {% if spreadsheet_url %}
        <div class="navbar-nav ml-auto">
            <a class="btn btn-primary" href="{{ spreadsheet_url }}"
               data-toggle="tooltip" data-placement="top"
               title="Download the table"
            >
                <i class="fas fa-download"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <p>
            {% autoescape off %}
            {{ df_html }}
            {% endautoescape %}
        </p>
        <a class="btn btn-secondary" href="{% url 'microimprocessing:index' %}">Back</a>
    </div>
{% endif %}
{% endblock %}

