{% extends 'base.html' %}
{% block body %}
{% if user.is_authenticated %}
<!--    <div class="container-fluid">-->
    <div class="navbar">
        {% if download_button %}
        <div class="navbar-nav ml-auto">
            <a class="btn btn-primary" href="{% url 'microimprocessing:create_and_download_zip' serverfile.id %}"
               data-toggle="tooltip" data-placement="top"
               title="Download zip of the output directory"
            >
                <i class="fas fa-download"></i>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <h2>{{ serverfile }}</h2>
        {% if df_html %}
        <p>
            {% autoescape off %}
            {{ df_html }}
            {% endautoescape %}
        </p>
        {% endif %}
        {% if key_value %}
            {% for key, value in key_value.items %}
                <h3>{{ key }}</h3>
                <p>
                    {% autoescape off %}
                    {{ value }}
                    {% endautoescape %}
                </p>
            {% endfor %}
        {% endif %}

        <a class="btn btn-secondary" href="{% url 'microimprocessing:index' %}">Back</a>
    </div>
{% endif %}
{% endblock %}

