{% extends 'base.html' %}
{% block body %}
    {% if user.is_authenticated %}
        <h1>Image List</h1>
        <ul>
            <li>
                <a href="{% url 'microimprocessing:model_form_upload' %}">Upload new data</a>
            </li>
        </ul>
        <br>
        {% if latest_filenames %}
        <table>

            {% for server_filename, n_pts in latest_filenames %}
            <tr>
                {% if server_filename.imagefile %}
                    <td>
                        {{ server_filename.imagefile}}
                    </td>
                    <td>
                        {% if server_filename.preview %}
                            <div class="container2">
                                <img id="multicellimg" class="multicella" src='{{server_filename.preview.url}}' width="50">
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'microimprocessing:detail' server_filename.id %}"> Set lobules manually <br> ({{ n_pts }} points) </a>
                    </td>
                    <td>
                        <a href="{% url 'microimprocessing:run_processing' server_filename.id %}">Run processing</a>
                    </td>
                    <td>

                    {% if server_filename.processed %}
                    <a href="{{ server_filename.zip_filename.url }}">Download</a>
                    {% else %}
                    {% endif %}
                    </td>
                {% else %}
                  No file
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    {% endif %}
{% endblock %}
