{% extends 'base.html' %}
{% block body %}
    {% if user.is_authenticated %}
        <h2>Image List</h2>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'microimprocessing:model_form_upload' %}">Upload new data</a>
            <a class="btn btn-secondary" href="{% url 'microimprocessing:add_example_data' %}">Add example data</a>
            <a class="btn btn-secondary" href="{% url 'microimprocessing:index' %}">Refresh</a>
        </div>
<!--        <ul>-->
<!--            <li>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <br>-->
        {% if latest_filenames %}
        <div class="containger">
        <table class="table table-hover">

            {% for server_filename, n_pts, output_exists in latest_filenames %}
            <tr>
                {% if server_filename.imagefile %}
                    <td>
<!--                        {{ server_filename.imagefile}}-->
                        {{ server_filename}}
                    </td>
                    <td>
                        {% if server_filename.preview %}
                            <div class="container2">
<!--                                <img id="multicellimg" class="multicella" src='{{server_filename.preview.url}}' width="50">-->
                                <img id="multicellimg" class="rounded" src='{{server_filename.preview.url}}' width="100">
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'microimprocessing:detail' server_filename.id %}"> Set lobules manually <br> ({{ n_pts }} points) </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'microimprocessing:run_processing' server_filename.id %}">Run processing</a>
                    </td>
                    <td>
                        {% if output_exists %}
                            <a class="btn btn-primary" href="{{ server_filename.zip_file.url }}">Download</a>
                        {% else %}
                            {% if server_filename.process_started%}
                                running
                            {% else %}
                            {% endif %}
                        {% endif %}

                    </td>
                {% else %}
                <td>No file</td>
                {% endif %}
                <td>
                    <a class="btn btn-warning" href="{% url 'microimprocessing:delete_file' server_filename.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <p>No data available.</p>
        {% endif %}
    {% endif %}
{% endblock %}
