{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}
<!--<html>-->
<!--  <head>-->
<!--    <title>Google Registration</title>-->
<!--  </head>-->
<!--  <body>-->
    {% if user.is_authenticated %}
    <h1>ScaffAn</h1>
    <p>Welcome, {{ user.username }} !</p>
    <a class="btn btn-primary" href="{% url 'microimprocessing:index' %}">Go to your images</a>


    {% else %}
    <h1>ScaffAn</h1>
    <a class="btn btn-primary" href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

    <h2 class="pt-5">Decellularization</h2>
    <div class="container-xl">
        <img src="{% static 'microimprocessing/repopulation_of_decellularized_pig_scaffolds.png' %}" alt="Images modified from V. Liška, V. Moulisová, R. Pálek, J. Rosendorf, L. Červenková, L. Bolek, V. Třeška (2019): Repopulation of decellularized pig scaffolds: Promising approach for liver tissue engineering, Rozhl Chir 98(10) (2019) 388-393.
" style="width:100%">
        <div class="caption">
            <p>
                Images modified from V. Liška, V. Moulisová, R. Pálek, J. Rosendorf, L. Červenková, L. Bolek, V. Třeška (2019): Repopulation of decellularized pig scaffolds: Promising approach for liver tissue engineering, Rozhl Chir 98(10) (2019) 388-393.
            </p>
        </div>
    </div>
<!--    <h2>Team</h2>-->

{% endblock %}
<!--  </body>-->
<!--</html>-->