{% extends 'base.html' %}
{% block body%}
    {% if user.is_authenticated %}
    {% if serverfile %}
    <h1>{{ serverfile}}</h1>
<!--    <ul>-->
<!--        <li> {{ serverfile.imagefile}} </li>-->
<!--        <li> {{ serverfile.annotationfile}} </li>-->
<!--        <li> {{ serferfile.thumbnail.name}} </li>-->
<!--        <li> {{ serferfile.thumbnail.path }} </li>-->
<!--        <li> {{ serferfile.thumbnail.url }} </li>-->
        <div class="form-group">
            <form method="post" id="lobulepoints">{% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Save points">
                <a class="btn btn-secondary" href="{% url 'microimprocessing:index' %}">Cancel</a>
            </form>

        </div>
        <div class="container">
            <img name="previewimg" id="previewimg" class="multicella" src="{{serverfile.preview.url}}">
<!--            <canvas id="previewcanvas"></canvas>-->
            <canvas id="previewcanvas" width="1050" height="1050"></canvas>
        </div>
<!--    </ul>-->

    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<!--    <img id="imageid" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Avatar_cat.png" height="256" width="256" alt="kitten">-->

    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    {% endif %}
{% endblock %}
